nav {
  background-color: black;
  width: 100%;
}

.top-nav {
  height: 55px;
}

.top-nav li:hover {
  background-color: grey;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: darkgrey;
  text-decoration: underline;
}

.top-nav li {
  list-style-type: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  width: 5em;
  height: 1.5em;
  text-align: center;
  padding-top: 15px;
  color: white;
  background-color: black;
}

body {
  background-color: #DBDBDB;
}

.header-image {
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.awards {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

#container {
  text-align: center;
}

footer {
  border-top: 1px solid black;
  opacity: 25%;
  margin-bottom: 35px;
  bottom: 0;
}