nav {
  background-color: black;
}

.top-nav {
  height: 55px;
}

.top-nav li:hover {
  background-color: grey;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: darkgrey;
  text-decoration: underline;
}

.top-nav li {
  list-style-type: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  width: 5em;
  height: 1.5em;
  text-align: center;
  padding-top: 15px;
  color: white;
  background-color: black;
}

/*This is the full body*/
body {
  margin: 0.5%;
  /*font-family: sans-serif;*/
  background-color: #DBDBDB;
}


/*this is for the title of the product*/
h2 {
  font-size: 20px;
}

/*this is for the images*/
div img {
  height: 150px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  /*display: inline-block;*/
}

/*This increases size of image on hover*/
div img:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

/*this is the description paragraph*/
div p {
  text-align: justify;
}

/*This is the price*/
div p:nth-of-type(2n) {
  font-weight: bold;

}

/*This is all 3 divs*/
div {
  float: left;
  width: 30%;
  display: inline-block;
  margin: 0.5%;
  border-right: 1px solid black;
  padding: 0 1%;
  }